*
!Builds/
!macros/
!Snippets/
!Default (OSX).sublime-keymap
!JavaScript.sublime-settings
!PHP Companion.sublime-settings
!PHP.sublime-settings
!Preferences.sublime-settings
!Python.sublime-settings
!Vue Component.sublime-settings
!phpcs.sublime-settings
