"*":
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-beautify":
    executables:
      "php-cs-fixer":
        path: "/Users/Yoram/.composer/vendor/bin/php-cs-fixer"
    general:
      _analyticsUserId: "7acc178e-69e1-4857-bdc5-159f26138ba3"
    js:
      indent_with_tabs: true
    php:
      cs_fixer_config_file: "~/.scripts/scripts/php_cs.dist"
      cs_fixer_path: "/Users/Yoram/.composer/vendor/bin/php-cs-fixer"
      disabled: true
      fixers: "align_double_arrow,short_array_syntax,concat_with_spaces,ordered_use"
      level: "symfony"
    vue:
      end_with_newline: true
      indent_size: 2
      space_after_anon_function: true
  "autocomplete-php": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1519107777306
  core:
    disabledPackages: [
      "auto-detect-indentation"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "node_modules"
    ]
    projectHome: "/Users/Yoram/atom-projects/"
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    titleBar: "hidden"
  editor:
    autoIndent: false
    fontFamily: "Source Code Pro"
    fontSize: 12
    lineHeight: 3
    showIndentGuide: true
  "exception-reporting":
    userId: "6c5085f6-f180-e9da-5a1c-a05eb52e99e2"
  "fuzzy-finder": {}
  "linter-eslint":
    fixOnSave: true
  "linter-php": {}
  "linter-ui-default": {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "php-fmt":
    autoAlign: true
    selfUpdate: true
    useSpaceIndentation: true
  "php-integrator-navigation": {}
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".js.source":
  editor:
    softWrap: true
    tabLength: 2
".php.source":
  editor:
    tabLength: 4
".php.text":
  whitespace:
    removeTrailingWhitespace: true
".source.vue":
  editor:
    softWrap: true
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 4
"auto-detect-indentation":
  indentationTypes: [
    {
      name: "Best Indent"
      softTabs: true
      tabLength: 16
    }
  ]
